doctype html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rancho&effect=scuffed-steel')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/global.js')
  body
    block content
    